.img-center {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 5%;
}

.container-xxl .row {
    padding: 1% 4% 3%;
}

.title {
    margin-bottom: 50px;
    text-transform: uppercase;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;

}

.card_blog {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top: 20px;
}

.card1 {
    background-color: #F9EAEB;
}

.card2 {
    background-color: #EFF8FB;
}

.card3 {
    background-color: #F1F2FE;
}